body.page-template-page-about {
  .baiHero {
    position: relative;
    display: flex;
    .heroSplitBg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      @media (max-width: 768px) {
        display: none;
      }
    }
    h2 {
      color: $primaryColor;
    }
    p {
      font-size: 14px;
    }
  }

  .baiTeam {
    h2 {
      color: $primaryColor;
      border-bottom: 4px solid $primaryColor;
      display: inline;
    }
    .teamMmeber {
      div {
        /* Rectangle 4: */
        background: #fbfbfb;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.06);
        border-radius: 14px;
        padding: 20px 15px;
        h4 {
          color: $primaryColor;
          border-bottom: 4px solid $primaryColor;
          display: inline;
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .teamMembers {
    .card {
      background: #f7f7f7;
      border-color: #f0ecec;
      a {
        display: block;
        overflow: hidden;
        img {
          transition: transform 0.2s; /* Animation */
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      h5 {
        margin-bottom: 1px;
      }
    }
    .modal {
      .modal-dialog {
        @include breakpoint(sm) {
          max-width: 650px;
        }
      }
      .modal-header {
        background: $primaryColor;
        h5 {
          color: white;
        }
      }
    }
  }
}
