body.page-id-6 {
  section {
    margin: 50px 0;
    padding: 100px 0;
  }

  .baiHero {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 400px;
    background-position: center !important;
    @include breakpoint(md) {
      min-height: 600px;
    }
  }
  .homeHero {
    h2 {
      color: white;
      @include breakpoint(sm) {
        color: $primaryColor;
      }
    }
    p {
      color: white;
      @include breakpoint(sm) {
        color: $primaryColor;
      }
    }
    .row {
      @include breakpoint(xs) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  img.attachment-project {
    height: initial !important;
  }
  h4 {
    margin-bottom: 15px;
  }
}
