body.single {
  .post-meta{
    text-transform: capitalize;
    color: $primaryColor;
  }
  .projectTop {
    position: relative;
    .projectImage {
      overflow: hidden;
      @include breakpoint(xs) {
        display: flex;
        justify-content: center;
      }
    }
    img {
      height: 350px;
      max-width: initial;
      @include breakpoint(sm) {
        width: 100%;
        height: initial;
        min-height: 400px;
      }
    }
    .container {
      background: white;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -38px;
      h1 {
        color: $primaryColor;
      }
      span {
        display: inline-block;
        font-size: 12px;
      }
      .projectLocation {
        float: right;
      }
    }
  }
  .projectContent {
    p.strong {
      color: $primaryColor;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  .modal-body {
    iframe {
      max-width: 100%;
      height: 280px;
      margin-bottom: 30px;
    }
  }
  .relatedPost {
    .card {
      // @include breakpoint(md) {
      //   min-height: 321px;
      // }
      .card-title {
        @include breakpoint(md) {
          min-height: 84px;
        }
      }
    }
  }
  .sidebar {
    @include breakpoint(md) {
      border-left: 1px solid #d4d4d4;
    }
  }
}

body.page-template-page-proyecto,
body.single-projects {
  .sidebar{
    .gform_wrapper{
      @include breakpoint(md){
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
      }
      .gform_body{
        .gfield{
          width: 100%;
          margin-bottom:8px;
          .gfield_label{
            margin-bottom:0;
          }
        }
        .ginput_container_address{
          .address_country{
            select{
              width: 98%;
              height: 37px;
            }
          }
        }
      }
      .gform_footer{
        .gform_button{
          width: 100%;
          margin-bottom:40%;
        }
      }
    }
  }
  .card {
    // @include breakpoint(md) {
    //   min-height: 321px;
    // }
    .card-title {
      @include breakpoint(md) {
        min-height: 55px;
      }
    }
  }
}
